header.navbar {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #1b1c1f;
}

header.navbar .navbar-inner h1 {
    position: relative;
    width: 50%;
    min-width: 160px;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
}

header.navbar .navbar-inner .button{
    position: absolute;
    display: -webkit-box;

    height: 100%;
}

header.navbar .navbar-inner .button-inner{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 35px;
    color: #fff;
}

header.navbar .navbar-inner .button-inner .back-icon{
    font-size: 20px;
}